body{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* span */
span{
    color: #F948B2;
}
.btn{
    background-color: #F948B2;
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.btn-2{
    background-color: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* header style */
header{
    
    
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;  
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
    margin-left: 32px;
}
nav ul li :hover{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 14px;
}
.header{
    font-size: 3rem;
    font-weight: 700;
}
.icon{
    font-size: 25px;
    margin-left: 5px;
}

/* bunner section */
.bunner{
    display: flex;
    
}
.text-area{
    width: 50%;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
bunner-img{
    width: 50%;
}
.title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}
.sub-title{
     /* this proparty from google */
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* ------------------- */
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px
}
p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}


 /* Online Games */
 .online-games{
    padding: 90px 90px;
 }

 .online-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
 }
 .online-discribe{
    text-align: center;
 }
 .cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
 }

 .card{
    
    width: 342px;
 }
 .card-img{
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
 }






















footer{
    height: 536px;
    background: #0B0223;
    text-align: center;
    color: #FFF;
    padding: 50px 20px;
}

.list-items{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.list-items li{
    list-style: none;
        margin: 0px 50px 0px 0px;
}
.list-items li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.icons{
    margin-top: 56px;
    display: flex;
    justify-content: center;
}
.icons li{
    list-style: none;
    margin: 0px 35px 0px 0px;
}
.icons li a{
    text-decoration: none;
    font-size: 40px;

}
.policy{
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.policy li{
    list-style: none;
    margin: 0px 60px 0px 0px;
}
.policy li a{
    text-decoration: none;
    color: #FFFFFF99;
}
.copyright{
    margin-top: 28px;
    color: #FFFFFF99;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}